# //npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}
@kemisstep:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${{ secrets.npm_github_token_v1 }}
# registry=https://npm.pkg.github.com/kemisstep
# //npm.pkg.github.com/:_authToken=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